body {
    margin: 0;
    background-color:#19244D;
}

.container {
    display: flex;
    justify-content: space-around;
    margin:10px 1px;
}

.score{
    background-color: black;
    padding: 15px 10px;
    border-radius: 5px;
    margin: 10px 20px;
    color:#F94F6D;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 95px;
    text-align: center;
    
}

.guest-title, .home-title{
    color: #EEEEEE;
    font-size: 40px;
    text-align: center;
    margin:5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


.add1Guest-btn,.add2Guest-btn,.add3Guest-btn, .add1Home-btn, .add2Home-btn, .add3Home-btn{
    
    padding: 10px 10px;
    margin: 20px 8px;
    background-color:#19244D;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    color:#9AABD8;
    font-family: 'Cursed Timer ULiL', sans-serif;

}

.home-buttons, .guest-buttons{
   padding: 0px 25px;
}